* {
  font-family: Poppins;
}

body {
  background-image: url(/public/img/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.card-transparent {
  background-color: transparent !important;
  border-color: transparent;
}

.text-gray {
  color: gray;
}

.logout-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

li {
  background-color: transparent !important;
}

#filtro {
  background-color: transparent !important;
}